<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>垂涎</h1>
  <p>秀你的厨艺！分享给身在海外的朋友!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>杜塞尔多夫</h3>
      <p>华为大本营...</p>
      <p>社会毒瘤...</p>
    </div>
    <div class="col-sm-4">
      <h3>多特蒙德</h3>
      <p>威斯特法轮...</p>
      <p>罗伊斯小鲜肉...</p>
    </div>
    <div class="col-sm-4">
      <h3>科隆</h3>
      <p>黑压压的大教堂...</p>
      <p>有个什么破城墙...</p>
    </div>
  </div>
</div>

</body>
</html>
